* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, rgb(197, 195, 195), rgb(172, 165, 165));
}

form {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

input {
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(204, 211, 212);
}